/.gradle/
**/build/
/modules/buildconfig/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
**/.idea/
*.iws
*.iml
*.ipr
**/out/

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

/.data/

# Generated resources
/subprojects/web/src/main/resources/checklister-build.properties
/subprojects/web/src/main/resources/banner.txt

# KotlinTest
/subprojects/integrationTest/.kotlintest
